<header class="torch-nav">
    <a class="brand" href="{{base}}index.html">
      {{partial:flame}}
      Last Trader Standing
    </a>
    <nav aria-label="Site">
      <ul class="nav-links">
        <li><a href="{{base}}index.html"{{navCurrentIsland}}>Island</a></li>
        <li><a href="{{base}}seasons/"{{navCurrentSeasons}}>Seasons</a></li>
        <li><a href="{{base}}seasons/2/index.html"{{navCurrentSeason2}}>Season 2</a></li>
        <li>
          <a href="{{base}}seasons/2/social.html" class="nav-chatter" data-nav-chatter{{navCurrentChatter}}>
            Island Chatter
            <span class="nav-chatter-dot" aria-hidden="true"></span>
          </a>
        </li>
        <li><a href="{{base}}rules.html"{{navCurrentRules}}>Rules</a></li>
      </ul>
    </nav>
  </header>
